{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catalyst Media Integrated</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}">
    <style>
    {% block style %}
    {% endblock style%}
    </style>
</head>
<body>
    
    {% include "nav.html" %}
    {% block body %}
    {% endblock body %}

    
    

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
    <script>
        {% block script %}
        {% endblock script %}
    </script>
</body>
</html>